In [2]:
from pathlib import Path
import pandas as pd
import json


file1 = Path(r"\\meetingroom\Meeting Room Share\Projects\I2G_Hub\I2G2023\station_lists_GD\gd_all.csv",  sep=r'\s+', engine='python')
file2 =  Path(r"\\meetingroom\Meeting Room Share\Projects\I2G_Hub\I2G2023\station_lists_SH\region1.csv")
file3 =  Path(r"\\meetingroom\Meeting Room Share\Projects\I2G_Hub\I2G2023\station_lists_SH\region2.csv")

In [3]:
# Read and clean the data
with open(file1, 'r') as f:
    data = f.readlines()
    data = [line.strip() for line in data]

# Process headers
headers = [h for h in data[0].split() if h]  # Assuming the first line is the header

# Process the rest of the data
cleaned_data = []
for line in data[1:]:  # Skip the header line
    # Split the line on spaces and filter out any empty strings
    parts = [part for part in line.split() if part]
    # Append to the list as a dictionary if the parts match the headers
    if len(parts) == len(headers):
        cleaned_data.append(dict(zip(headers, parts)))

# Create a DataFrame from the list of dictionaries
df1 = pd.DataFrame(cleaned_data)

df1.head()

    Sta               Lon               Lat
0  GDXC  109.784212152513  21.0496557890283
1  GDWS  109.835629109638  20.5629357396005
2  GDSX    109.8542668142  21.2558946114921
3  GDOU  109.918819445236  21.3290164907557
4  GDQP  109.926260060921   21.627010262334

In [4]:
from Coord import ECEF
import numpy as np


df2 = pd.read_csv(file2, header= None)
df2.drop(df2.columns[[0,1,6]], inplace=True, axis=1)
df2.head()

xyz_arr = df2.iloc[:,1:].to_numpy()

ecef_arr = ECEF(xyz_arr)

lla_arr = ecef_arr.ecef2lla().position

a = np.array(df2.iloc[:,0]).reshape(-1,1)
b = lla_arr[:,:-1]


comb_arr = np.hstack((a, b ))

df2 = pd.DataFrame(comb_arr, columns = ['Sta', 'Lat', 'Lon'])



df2.head()

    Sta       Lat       Lon
0  SHXJ  0.545846  2.116588
1  GXNN  0.397882  1.890399
2  GXBM  0.421354  1.871922
3  GXYY   0.41754  1.871126
4  GXTD  0.412214  1.869763

In [5]:
df3 = pd.read_csv(file3, header= None)
df3.drop(df3.columns[[0,1,6]], inplace=True, axis=1)
df3.head()

xyz_arr = df3.iloc[:,1:].to_numpy()

ecef_arr = ECEF(xyz_arr)

lla_arr = ecef_arr.ecef2lla().position

a = np.array(df3.iloc[:,0]).reshape(-1,1)
b = lla_arr[:,:-1]


comb_arr = np.hstack((a, b ))

df3 = pd.DataFrame(comb_arr, columns = ['Sta', 'Lat', 'Lon'])

# Convert "Lat" and "Lon" columns from radians to degrees
df3['Lat'] = np.degrees(df3['Lat'].astype(float))
df3['Lon'] = np.degrees(df3['Lon'].astype(float))

df3.head()

    Sta        Lat         Lon
0  SHXJ  31.274665  121.271567
1  JSDY  32.013566  119.554561
2  JSJT  31.760683  119.634372
3  JSWJ  31.701124  119.878957
4  JSWU  31.586640  120.226687

In [6]:
full_df = pd.concat([df1, df2, df3], axis=0)

full_df.head()

    Sta               Lon               Lat
0  GDXC  109.784212152513  21.0496557890283
1  GDWS  109.835629109638  20.5629357396005
2  GDSX    109.8542668142  21.2558946114921
3  GDOU  109.918819445236  21.3290164907557
4  GDQP  109.926260060921   21.627010262334

In [7]:
# Reset the index to ensure uniqueness
full_df.reset_index(inplace=True)

full_df.set_index('Sta', inplace=True)

# remove duplicates
full_df = full_df[~full_df.index.duplicated(keep='first')]


# Convert 'Lon' and 'Lat' to float
full_df['Lon'] = pd.to_numeric(full_df['Lon'])
full_df['Lat'] = pd.to_numeric(full_df['Lat'])

print(full_df.head())

# Convert DataFrame to JSON
full_df.to_json(r"C:\Users\chcuk\Work\Projects\Tools\SkyMap\stn_list.json", orient="index")

      index         Lon        Lat
Sta
GDXC      0  109.784212  21.049656
GDWS      1  109.835629  20.562936
GDSX      2  109.854267  21.255895
GDOU      3  109.918819  21.329016
GDQP      4  109.926260  21.627010

In [9]:
# test read

stations = json.load(open(r"C:\Users\chcuk\Work\Projects\Tools\SkyMap\stn_list.json")).values()
stations

dict_values([{'index': 0, 'Lon': 109.7842121525, 'Lat': 21.049655789}, {'index': 1, 'Lon': 109.8356291096, 'Lat': 20.5629357396}, {'index': 2, 'Lon': 109.8542668142, 'Lat': 21.2558946115}, {'index': 3, 'Lon': 109.9188194452, 'Lat': 21.3290164908}, {'index': 4, 'Lon': 109.9262600609, 'Lat': 21.6270102623}, {'index': 5, 'Lon': 109.9349674305, 'Lat': 20.2557400169}, {'index': 6, 'Lon': 110.0718264683, 'Lat': 20.9181445526}, {'index': 7, 'Lon': 110.0718316672, 'Lat': 20.9181568151}, {'index': 8, 'Lon': 110.1274109347, 'Lat': 20.6765888347}, {'index': 9, 'Lon': 110.1631516076, 'Lat': 20.3417931772}, {'index': 10, 'Lon': 110.1980230699, 'Lat': 21.9465952712}, {'index': 11, 'Lon': 110.2327287375, 'Lat': 20.5055942568}, {'index': 12, 'Lon': 110.264080503, 'Lat': 21.5580283428}, {'index': 13, 'Lon': 110.2640832114, 'Lat': 21.5580340057}, {'index': 14, 'Lon': 110.3398885207, 'Lat': 20.7955641588}, {'index': 15, 'Lon': 110.3721180356, 'Lat': 21.2715264304}, {'index': 16, 'Lon': 110.3721265774, 'Lat': 21.271518636}, {'index': 17, 'Lon': 110.4323936952, 'Lat': 20.3730720771}, {'index': 18, 'Lon': 110.4925911418, 'Lat': 21.8458899533}, {'index': 19, 'Lon': 110.4935736676, 'Lat': 21.024986883}, {'index': 20, 'Lon': 110.536285159, 'Lat': 21.5830230874}, {'index': 21, 'Lon': 110.8119236495, 'Lat': 21.4526584154}, {'index': 22, 'Lon': 110.8981757244, 'Lat': 21.6729273156}, {'index': 23, 'Lon': 110.917792317, 'Lat': 21.9566893248}, {'index': 24, 'Lon': 110.9725962108, 'Lat': 22.3187441009}, {'index': 25, 'Lon': 111.1808129616, 'Lat': 21.5412284782}, {'index': 26, 'Lon': 111.1883690028, 'Lat': 22.6940317507}, {'index': 27, 'Lon': 111.2412069555, 'Lat': 21.8465816189}, {'index': 28, 'Lon': 111.253144433, 'Lat': 22.3676199685}, {'index': 29, 'Lon': 111.3701368112, 'Lat': 22.1022207688}, {'index': 30, 'Lon': 111.4331860932, 'Lat': 22.5473170341}, {'index': 31, 'Lon': 111.442349838, 'Lat': 21.691892534}, {'index': 32, 'Lon': 111.5654186683, 'Lat': 22.7906543188}, {'index': 33, 'Lon': 111.5654669385, 'Lat': 23.1816596613}, {'index': 34, 'Lon': 111.5890997727, 'Lat': 22.7651994953}, {'index': 35, 'Lon': 111.6735838305, 'Lat': 21.9582639639}, {'index': 36, 'Lon': 111.7309827423, 'Lat': 22.9453007398}, {'index': 37, 'Lon': 111.7530934685, 'Lat': 21.6562978183}, {'index': 38, 'Lon': 111.7578704023, 'Lat': 22.1814600952}, {'index': 39, 'Lon': 111.779791285, 'Lat': 23.5137301836}, {'index': 40, 'Lon': 111.8088105385, 'Lat': 21.7998529236}, {'index': 41, 'Lon': 111.8868332257, 'Lat': 22.4690844034}, {'index': 42, 'Lon': 111.945466371, 'Lat': 22.7485225642}, {'index': 43, 'Lon': 111.9590898272, 'Lat': 21.8573192377}, {'index': 44, 'Lon': 111.9965986538, 'Lat': 23.0118179777}, {'index': 45, 'Lon': 112.0656685733, 'Lat': 23.7170540776}, {'index': 46, 'Lon': 112.0881594147, 'Lat': 24.2029002731}, {'index': 47, 'Lon': 112.1104995596, 'Lat': 23.4070158755}, {'index': 48, 'Lon': 112.1133966779, 'Lat': 24.5831281991}, {'index': 49, 'Lon': 112.1727323057, 'Lat': 22.1242193662}, {'index': 50, 'Lon': 112.187707062, 'Lat': 22.4751095054}, {'index': 51, 'Lon': 112.2328671646, 'Lat': 22.6812054927}, {'index': 52, 'Lon': 112.3007387099, 'Lat': 23.9376882082}, {'index': 53, 'Lon': 112.3513045699, 'Lat': 24.5291429197}, {'index': 54, 'Lon': 112.3682018734, 'Lat': 23.6191890955}, {'index': 55, 'Lon': 112.3730805886, 'Lat': 24.813546518}, {'index': 56, 'Lon': 112.424304687, 'Lat': 22.3071075432}, {'index': 57, 'Lon': 112.4306589005, 'Lat': 23.0776887749}, {'index': 58, 'Lon': 112.4843760751, 'Lat': 21.8613076774}, {'index': 59, 'Lon': 112.5088250192, 'Lat': 22.8035027607}, {'index': 60, 'Lon': 112.5588957715, 'Lat': 24.2574109673}, {'index': 61, 'Lon': 112.5845433257, 'Lat': 22.1427637737}, {'index': 62, 'Lon': 112.6508410524, 'Lat': 24.4465407398}, {'index': 63, 'Lon': 112.6968956275, 'Lat': 22.3847127114}, {'index': 64, 'Lon': 112.6999592262, 'Lat': 22.5400236379}, {'index': 65, 'Lon': 112.7224657647, 'Lat': 23.3287278226}, {'index': 66, 'Lon': 112.7316024348, 'Lat': 23.6468416253}, {'index': 67, 'Lon': 112.8000001128, 'Lat': 22.3220350394}, {'index': 68, 'Lon': 112.8211010426, 'Lat': 24.0710559456}, {'index': 69, 'Lon': 112.8294573594, 'Lat': 24.7773831872}, {'index': 70, 'Lon': 112.8903708602, 'Lat': 23.4412191028}, {'index': 71, 'Lon': 112.8911346037, 'Lat': 23.074028221}, {'index': 72, 'Lon': 112.891626184, 'Lat': 21.9753834386}, {'index': 73, 'Lon': 112.9095353868, 'Lat': 22.7693202264}, {'index': 74, 'Lon': 112.9840071018, 'Lat': 23.7063699045}, {'index': 75, 'Lon': 113.018372299, 'Lat': 24.4432318752}, {'index': 76, 'Lon': 113.0542925463, 'Lat': 22.3025356531}, {'index': 77, 'Lon': 113.0778183992, 'Lat': 23.1292174619}, {'index': 78, 'Lon': 113.0971908844, 'Lat': 25.125405515}, {'index': 79, 'Lon': 113.1225135512, 'Lat': 22.5360818461}, {'index': 80, 'Lon': 113.1804860182, 'Lat': 23.6515285674}, {'index': 81, 'Lon': 113.1933861901, 'Lat': 23.3763629545}, {'index': 82, 'Lon': 113.2157140684, 'Lat': 22.9172385246}, {'index': 83, 'Lon': 113.2749471562, 'Lat': 23.9326116328}, {'index': 84, 'Lon': 113.2804904335, 'Lat': 24.7723465895}, {'index': 85, 'Lon': 113.3468033714, 'Lat': 22.0479030689}, {'index': 86, 'Lon': 113.3509622386, 'Lat': 23.1377698915}, {'index': 87, 'Lon': 113.3589872207, 'Lat': 22.3083381399}, {'index': 88, 'Lon': 113.3744071593, 'Lat': 24.1837911603}, {'index': 89, 'Lon': 113.4100543836, 'Lat': 22.7854370971}, {'index': 90, 'Lon': 113.4302597578, 'Lat': 22.5587120221}, {'index': 91, 'Lon': 113.4891694733, 'Lat': 25.2170805682}, {'index': 92, 'Lon': 113.5198156298, 'Lat': 24.7884533043}, {'index': 93, 'Lon': 113.5210992426, 'Lat': 24.4230973583}, {'index': 94, 'Lon': 113.530405233, 'Lat': 23.865577315}, {'index': 95, 'Lon': 113.5630617398, 'Lat': 22.2895759113}, {'index': 96, 'Lon': 113.5764399455, 'Lat': 22.6707510708}, {'index': 97, 'Lon': 113.5764814119, 'Lat': 23.5234540209}, {'index': 98, 'Lon': 113.5877888195, 'Lat': 22.8766896761}, {'index': 99, 'Lon': 113.6176736548, 'Lat': 22.8874375917}, {'index': 100, 'Lon': 113.6512518613, 'Lat': 23.0528859092}, {'index': 101, 'Lon': 113.6552837615, 'Lat': 23.0576631837}, {'index': 102, 'Lon': 113.6906520768, 'Lat': 23.278114386}, {'index': 103, 'Lon': 113.7532191994, 'Lat': 25.0694420504}, {'index': 104, 'Lon': 113.7634774616, 'Lat': 24.0932119336}, {'index': 105, 'Lon': 113.8033004869, 'Lat': 24.461657285}, {'index': 106, 'Lon': 113.8159142374, 'Lat': 24.7907102096}, {'index': 107, 'Lon': 113.9143900054, 'Lat': 22.9435745457}, {'index': 108, 'Lon': 113.922882569, 'Lat': 22.5727666877}, {'index': 109, 'Lon': 113.9297633494, 'Lat': 22.9989240175}, {'index': 110, 'Lon': 113.9549919401, 'Lat': 22.8243552969}, {'index': 111, 'Lon': 113.9604742452, 'Lat': 23.1288001088}, {'index': 112, 'Lon': 113.9853770989, 'Lat': 23.8101933909}, {'index': 113, 'Lon': 113.9961809959, 'Lat': 23.1345573494}, {'index': 114, 'Lon': 114.002407979, 'Lat': 23.460843234}, {'index': 115, 'Lon': 114.0752526413, 'Lat': 24.6804104791}, {'index': 116, 'Lon': 114.0909533932, 'Lat': 24.3520112444}, {'index': 117, 'Lon': 114.1213729342, 'Lat': 22.6079312728}, {'index': 118, 'Lon': 114.1233244781, 'Lat': 24.9343269777}, {'index': 119, 'Lon': 114.1835353973, 'Lat': 22.8356407682}, {'index': 120, 'Lon': 114.1840335462, 'Lat': 24.0580812727}, {'index': 121, 'Lon': 114.1862131851, 'Lat': 23.0852104535}, {'index': 122, 'Lon': 114.2149134356, 'Lat': 22.6569210151}, {'index': 123, 'Lon': 114.2669274074, 'Lat': 23.7230365032}, {'index': 124, 'Lon': 114.2940045964, 'Lat': 22.6758188856}, {'index': 125, 'Lon': 114.3595996255, 'Lat': 22.7576886954}, {'index': 126, 'Lon': 114.3769119151, 'Lat': 25.1054621962}, {'index': 127, 'Lon': 114.4297808488, 'Lat': 23.407562946}, {'index': 128, 'Lon': 114.443332352, 'Lat': 23.1135432589}, {'index': 129, 'Lon': 114.4860041079, 'Lat': 24.3421300249}, {'index': 130, 'Lon': 114.4939487124, 'Lat': 22.950413404}, {'index': 131, 'Lon': 114.5435338677, 'Lat': 22.7549999106}, {'index': 132, 'Lon': 114.589867733, 'Lat': 25.2623722042}, {'index': 133, 'Lon': 114.6923495616, 'Lat': 23.7818040018}, {'index': 134, 'Lon': 114.7192388925, 'Lat': 23.2848904875}, {'index': 135, 'Lon': 114.7372605308, 'Lat': 22.9797870876}, {'index': 136, 'Lon': 114.7812540039, 'Lat': 24.2145335399}, {'index': 137, 'Lon': 114.8853242762, 'Lat': 22.6166202638}, {'index': 138, 'Lon': 114.9606878701, 'Lat': 24.4613985651}, {'index': 139, 'Lon': 114.9719608446, 'Lat': 23.4291647313}, {'index': 140, 'Lon': 114.9810526475, 'Lat': 23.8782172347}, {'index': 141, 'Lon': 114.9971046698, 'Lat': 22.8276954504}, {'index': 142, 'Lon': 114.9993667036, 'Lat': 23.1894146688}, {'index': 143, 'Lon': 115.1823265359, 'Lat': 23.6310779319}, {'index': 144, 'Lon': 115.2848638451, 'Lat': 24.1029418274}, {'index': 145, 'Lon': 115.3448520365, 'Lat': 23.3580541521}, {'index': 146, 'Lon': 115.3944326802, 'Lat': 23.0575249585}, {'index': 147, 'Lon': 115.4343021362, 'Lat': 24.3948024575}, {'index': 148, 'Lon': 115.44310426, 'Lat': 23.8000960637}, {'index': 149, 'Lon': 115.4461559819, 'Lat': 24.7025636972}, {'index': 150, 'Lon': 115.557927919, 'Lat': 22.6740647511}, {'index': 151, 'Lon': 115.6375822324, 'Lat': 22.93354767}, {'index': 152, 'Lon': 115.7019046197, 'Lat': 23.293377213}, {'index': 153, 'Lon': 115.7092975112, 'Lat': 23.6328370936}, {'index': 154, 'Lon': 115.7153378838, 'Lat': 24.1911979069}, {'index': 155, 'Lon': 115.7703186466, 'Lat': 23.9314617917}, {'index': 156, 'Lon': 115.8982534777, 'Lat': 24.5698174508}, {'index': 157, 'Lon': 115.9931091782, 'Lat': 23.3916952588}, {'index': 158, 'Lon': 116.0207881779, 'Lat': 24.0929479026}, {'index': 159, 'Lon': 116.1219780579, 'Lat': 24.3116384338}, {'index': 160, 'Lon': 116.155914719, 'Lat': 23.7698199263}, {'index': 161, 'Lon': 116.1618004558, 'Lat': 24.6589748847}, {'index': 162, 'Lon': 116.1684014883, 'Lat': 23.0097712319}, {'index': 163, 'Lon': 116.3497459883, 'Lat': 23.5573965183}, {'index': 164, 'Lon': 116.4408294641, 'Lat': 23.2460920256}, {'index': 165, 'Lon': 116.4481863611, 'Lat': 24.1404016651}, {'index': 166, 'Lon': 116.4728309296, 'Lat': 23.920282321}, {'index': 167, 'Lon': 116.5211749426, 'Lat': 23.0385982076}, {'index': 168, 'Lon': 116.6319899311, 'Lat': 23.4160447211}, {'index': 169, 'Lon': 116.6580215812, 'Lat': 23.6863369841}, {'index': 170, 'Lon': 116.685286713, 'Lat': 24.3507242376}, {'index': 171, 'Lon': 116.7775077575, 'Lat': 23.2325188655}, {'index': 172, 'Lon': 116.8636619402, 'Lat': 23.8991236746}, {'index': 173, 'Lon': 116.9028364083, 'Lat': 24.1545530736}, {'index': 174, 'Lon': 117.0131557849, 'Lat': 23.6746321245}, {'index': 175, 'Lon': 117.026277225, 'Lat': 23.4250422518}, {'index': 0, 'Lon': 2.1165881416, 'Lat': 0.5458458809}, {'index': 1, 'Lon': 1.8903988351, 'Lat': 0.3978822145}, {'index': 2, 'Lon': 1.8719218632, 'Lat': 0.4213538082}, {'index': 3, 'Lon': 1.8711261679, 'Lat': 0.4175402134}, {'index': 4, 'Lon': 1.8697628419, 'Lat': 0.4122144651}, {'index': 5, 'Lon': 1.8697200519, 'Lat': 0.4072075435}, {'index': 6, 'Lon': 1.8698492599, 'Lat': 0.4025959074}, {'index': 7, 'Lon': 1.8708316932, 'Lat': 0.3985873914}, {'index': 8, 'Lon': 1.8695072179, 'Lat': 0.395541062}, {'index': 9, 'Lon': 1.8693472245, 'Lat': 0.3917233605}, {'index': 10, 'Lon': 1.8740288016, 'Lat': 0.3904221787}, {'index': 11, 'Lon': 1.8686505026, 'Lat': 0.3860679621}, {'index': 12, 'Lon': 1.8741865491, 'Lat': 0.3857797779}, {'index': 13, 'Lon': 1.8779399919, 'Lat': 0.3853735355}, {'index': 14, 'Lon': 1.8818488171, 'Lat': 0.3839541701}, {'index': 15, 'Lon': 1.8850582249, 'Lat': 0.3870327224}, {'index': 16, 'Lon': 1.8913664172, 'Lat': 0.3840002675}, {'index': 17, 'Lon': 1.8965367913, 'Lat': 0.3831969756}, {'index': 18, 'Lon': 1.8921804218, 'Lat': 0.3893436494}, {'index': 19, 'Lon': 1.8847301507, 'Lat': 0.3918530943}, {'index': 20, 'Lon': 1.8835367423, 'Lat': 0.3945226397}, {'index': 21, 'Lon': 1.8887996939, 'Lat': 0.3937719955}, {'index': 22, 'Lon': 1.875182, 'Lat': 0.4009910416}, {'index': 23, 'Lon': 1.8821776301, 'Lat': 0.400042561}, {'index': 24, 'Lon': 1.8795392938, 'Lat': 0.4043900014}, {'index': 25, 'Lon': 1.8765442852, 'Lat': 0.4075680136}, {'index': 26, 'Lon': 1.8783954118, 'Lat': 0.4145027067}, {'index': 27, 'Lon': 1.8793114717, 'Lat': 0.4210573166}, {'index': 28, 'Lon': 1.8962990924, 'Lat': 0.4199782985}, {'index': 29, 'Lon': 1.8953386199, 'Lat': 0.4159477524}, {'index': 30, 'Lon': 1.9005793096, 'Lat': 0.4156204854}, {'index': 31, 'Lon': 1.8953965504, 'Lat': 0.4090661401}, {'index': 32, 'Lon': 1.8965316672, 'Lat': 0.4044830177}, {'index': 33, 'Lon': 1.8903339558, 'Lat': 0.4047527061}, {'index': 34, 'Lon': 1.886838082, 'Lat': 0.4014121152}, {'index': 35, 'Lon': 1.8960270608, 'Lat': 0.3945454149}, {'index': 36, 'Lon': 1.9017875667, 'Lat': 0.3930369739}, {'index': 37, 'Lon': 1.906843014, 'Lat': 0.3907418335}, {'index': 38, 'Lon': 1.9029250147, 'Lat': 0.389059659}, {'index': 39, 'Lon': 1.9065747488, 'Lat': 0.3869411298}, {'index': 40, 'Lon': 1.9188231545, 'Lat': 0.3883590471}, {'index': 41, 'Lon': 1.923955537, 'Lat': 0.3868958477}, {'index': 43, 'Lon': 1.9093773301, 'Lat': 0.3844509462}, {'index': 44, 'Lon': 1.9152510576, 'Lat': 0.3819633097}, {'index': 45, 'Lon': 1.924344928, 'Lat': 0.3909558384}, {'index': 46, 'Lon': 1.9227443606, 'Lat': 0.3951007475}, {'index': 47, 'Lon': 1.9165764647, 'Lat': 0.4026686475}, {'index': 48, 'Lon': 1.9079843381, 'Lat': 0.4072038321}, {'index': 49, 'Lon': 1.9115327081, 'Lat': 0.4106635763}, {'index': 50, 'Lon': 1.9148514815, 'Lat': 0.4128517365}, {'index': 51, 'Lon': 1.9220041637, 'Lat': 0.4116592906}, {'index': 52, 'Lon': 1.8854713671, 'Lat': 0.4058962675}, {'index': 53, 'Lon': 1.8850681102, 'Lat': 0.4109722541}, {'index': 54, 'Lon': 1.884862742, 'Lat': 0.4139315242}, {'index': 55, 'Lon': 1.8866638955, 'Lat': 0.4178748656}, {'index': 56, 'Lon': 1.8905734734, 'Lat': 0.4221322712}, {'index': 57, 'Lon': 1.8904289335, 'Lat': 0.4125512182}, {'index': 58, 'Lon': 1.9041576502, 'Lat': 0.404824363}, {'index': 59, 'Lon': 1.9094087396, 'Lat': 0.4007841323}, {'index': 60, 'Lon': 1.914282689, 'Lat': 0.3983447198}, {'index': 61, 'Lon': 1.9133758297, 'Lat': 0.3939415353}, {'index': 62, 'Lon': 1.9121503047, 'Lat': 0.3883266227}, {'index': 63, 'Lon': 1.9046443884, 'Lat': 0.3983481646}, {'index': 64, 'Lon': 1.9071350872, 'Lat': 0.3957363244}, {'index': 1, 'Lon': 119.5545608558, 'Lat': 32.0135655665}, {'index': 2, 'Lon': 119.6343723748, 'Lat': 31.7606827987}, {'index': 3, 'Lon': 119.8789568215, 'Lat': 31.7011242426}, {'index': 4, 'Lon': 120.2266874478, 'Lat': 31.586639599}, {'index': 5, 'Lon': 120.4389739065, 'Lat': 31.9653728711}, {'index': 6, 'Lon': 120.8798037408, 'Lat': 32.0259561719}, {'index': 7, 'Lon': 121.2112356187, 'Lat': 31.8931179812}, {'index': 8, 'Lon': 121.193895274, 'Lat': 31.7610558201}, {'index': 9, 'Lon': 120.9013650601, 'Lat': 31.7260496789}, {'index': 10, 'Lon': 121.6638893726, 'Lat': 31.816189325}, {'index': 11, 'Lon': 121.7833376066, 'Lat': 31.5089743095}, {'index': 12, 'Lon': 121.2360290853, 'Lat': 31.4628874135}, {'index': 13, 'Lon': 121.0986134125, 'Lat': 31.3284627119}, {'index': 14, 'Lon': 120.64870605, 'Lat': 31.463406048}, {'index': 15, 'Lon': 120.6259998632, 'Lat': 31.3038500156}, {'index': 16, 'Lon': 120.9600330387, 'Lat': 30.8966782025}, {'index': 17, 'Lon': 121.4787938205, 'Lat': 31.2341339701}, {'index': 18, 'Lon': 121.7553910918, 'Lat': 31.1072199439}, {'index': 19, 'Lon': 121.8796489922, 'Lat': 30.9486137438}, {'index': 20, 'Lon': 121.5232210882, 'Lat': 30.8331344845}, {'index': 21, 'Lon': 121.3380849949, 'Lat': 30.7160689018}, {'index': 22, 'Lon': 121.0829567062, 'Lat': 30.6054163449}, {'index': 23, 'Lon': 120.8029088391, 'Lat': 30.7393881712}, {'index': 24, 'Lon': 120.5720732682, 'Lat': 30.6504708819}, {'index': 25, 'Lon': 120.2775711101, 'Lat': 30.6170526845}, {'index': 26, 'Lon': 120.4002173721, 'Lat': 30.9094089228}, {'index': 27, 'Lon': 120.0851067658, 'Lat': 30.9003274732}, {'index': 28, 'Lon': 119.7355498783, 'Lat': 31.0983190678}, {'index': 29, 'Lon': 119.8475918274, 'Lat': 31.3366770916}, {'index': 30, 'Lon': 119.4700294874, 'Lat': 31.309329886}, {'index': 31, 'Lon': 121.1060665947, 'Lat': 31.1513300089}, {'index': 32, 'Lon': 119.3964057341, 'Lat': 30.880129573}, {'index': 33, 'Lon': 119.6967665463, 'Lat': 30.6544711703}, {'index': 34, 'Lon': 119.3797066829, 'Lat': 30.5744616492}, {'index': 35, 'Lon': 119.3923498931, 'Lat': 30.194600823}, {'index': 36, 'Lon': 119.7289626105, 'Lat': 30.2558504071}, {'index': 37, 'Lon': 119.9152722574, 'Lat': 30.3004530902}, {'index': 38, 'Lon': 119.9229630182, 'Lat': 30.0377991305}, {'index': 39, 'Lon': 120.2440274656, 'Lat': 30.0417394312}, {'index': 40, 'Lon': 120.5205000799, 'Lat': 30.0708203539}, {'index': 41, 'Lon': 120.7857239664, 'Lat': 30.071597832}, {'index': 42, 'Lon': 121.1809433057, 'Lat': 30.0732963696}, {'index': 43, 'Lon': 121.5403806294, 'Lat': 29.8612595009}, {'index': 44, 'Lon': 121.0164678277, 'Lat': 29.7874629233}, {'index': 45, 'Lon': 122.2737596918, 'Lat': 29.9884167565}, {'index': 46, 'Lon': 120.673743957, 'Lat': 29.7888596281}, {'index': 47, 'Lon': 120.2158782367, 'Lat': 29.7297780839}, {'index': 48, 'Lon': 119.6873528365, 'Lat': 29.7936718737}, {'index': 49, 'Lon': 119.5696066134, 'Lat': 29.5385422091}, {'index': 50, 'Lon': 119.8940965099, 'Lat': 29.4442903164}, {'index': 51, 'Lon': 120.5489681596, 'Lat': 29.4353682816}, {'index': 52, 'Lon': 120.8490228169, 'Lat': 29.5245867879}, {'index': 53, 'Lon': 121.1342756263, 'Lat': 29.5406879479}, {'index': 54, 'Lon': 121.4238707905, 'Lat': 29.6650107393}, {'index': 55, 'Lon': 121.708559202, 'Lat': 29.6630735468}, {'index': 56, 'Lon': 121.9241679072, 'Lat': 29.4461311021}, {'index': 57, 'Lon': 121.9040416294, 'Lat': 29.1570862581}, {'index': 58, 'Lon': 121.4438760322, 'Lat': 29.2982138357}, {'index': 59, 'Lon': 121.3719424455, 'Lat': 29.1265167053}, {'index': 60, 'Lon': 120.9814197341, 'Lat': 29.1705306843}, {'index': 61, 'Lon': 120.7248918891, 'Lat': 29.2178567932}, {'index': 62, 'Lon': 120.2291212433, 'Lat': 29.2813484123}, {'index': 63, 'Lon': 119.6581912104, 'Lat': 29.1375062888}])